/** Entry portal
**/

#formTitle {
    -fx-font-size: 40px;
    -fx-fill: white;
    -fx-stroke: black;
    -fx-stroke-width: 1;
}

#playerName {
    -fx-font-size: 20px;
    -fx-fill: white;
    -fx-stroke: black;
    -fx-stoke-width: 1;
}

/*
#menuTitle {
    -fx-font-size: 50px;
    -fx-fill: white;
    -fx-stroke: black;
    -fx-stroke-width: 1;
}

#menuSubTitle {
    -fx-font-size: 50px;
    -fx-fill: white;
    -fx-stroke: black;
    -fx-stroke-width: 1;
}*/

#serverGridPane{
    -fx-background-color: #0000FF;
    -fx-background-inset: 1;
}

#bottomBorder{
    -fx-background-color: black;
    -fx-background-inset: 0,0,1,0;
}
